<div class ='mypage'>
  {% include '@organisms/navbar/navbar.twig' %}
  {% include '@molecules/bannertext/bannertext.twig' %}
   {% include '@organisms/info/info.twig' %}
  {% include '@organisms/imgsection/imgsection.twig' %}
  {% include '@organisms/imgsectiontwo/imgsectiontwo.twig' %}
  {% include '@molecules/ctamolecule/ctamolecule.twig' %}
  {% include '@organisms/footerorg/footerorg.twig'%}
 </div>