span {
  font-size: 2rem;
}
i {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 2rem;
  text-transform: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #007bff;
  box-shadow: 0 10px 10px 0px rgb(0 0 0 / 30%);
}
.fa{
    display: flex;
}