<div {{ bem('customfooter') }}>
  <div {{ bem('container') }}>
   {% include '@atoms/links/link/link.twig' with {
    link_content: footericon
  } %}
    <div {{ bem('d-flex') }}>
      {% for item in footerorg_items %}
        {% include '@molecules/footermole/footermole.twig' with {
          footerheading: item.customfooterheading,
          footeritemurl: item.footerurl,
          footeritemlink: item.footerlink
        } %}
      {% endfor %}
    </div>
    {% include '@atoms/text/text/01-paragraph.twig' with {
      paragraph_content: footer_para
    } %}
  </div>
</div>
