@mixin link {
  color: clr(accent);

  &:hover {
    color: clr(accent-high);
  }
}

.link {
  @include link;
  &--alt {
    border: 1px solid #dee2e6;
   text-decoration: none;
   padding-top: 1rem;
   padding-bottom: 1rem;
   display: block;
   text-align: center;
   color: $bluecolor;
  }
  &:hover{
    text-decoration: underline;
    color: $bluecolor;
  }
}
